
/*Layout *******************/

@font-face {
    font-family: "Lego Brix";
    src: url("../tipografia/LEGOBRIX.woff");
    
}

body {
    background: linear-gradient(to right, #000000, #11011d); /* Gradiente de preto para roxo escuro */
    color: #FFFFFF; /* Texto branco para garantir boa legibilidade */
    
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF; /* Texto branco para títulos */
}




/* Configurações Logo*/

.navbar-brand {
    font-family: "Lego Brix";
    font-size: 20px;
    color: white;
}

.navbar  {
    background-color: rgb(22, 1, 32);
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

a {
    color: white;
}




img {
    border-radius: 300px;
    border: 1px solid rgb(0, 0, 0);
}

.d-flex.img-custom {
    text-align: center;
    justify-content: center;
}



.btn-custom {
    color:white;
    border-radius: 500px;
    -webkit-border-radius:500px
    -moz-border-radius:500px;
    padding: 10px 20px; 
}

.btn-roxo {
    background: #752578;
   }

   .btn-roxo:hover{
    background: #6207e3;
    color: white;
   }

   .align-self-center {
    color: white;
   }
   
   .d-flex  {
    text-align: center;
    justify-content: center;
}

.col-md-6{
    justify-content: center;
    padding: 30px;


}

/*sobre mim */

.jornada{
    justify-content: center;
    justify-items: center;
    
}

/* sobre mim #sobre {
    background: rgb(79, 54, 93); /* Fundo branco */
    color: black; /* Texto preto */
    padding: 60px 0; /* Adicionando um pouco de espaçamento ao redor do conteúdo */
    position: relative; /* Para permitir que os pseudo-elementos sejam posicionados
    
    line-height: 3; */


#sobre {
    background-color: #3f1559; /* Fundo preto */
    color: rgb(185, 34, 34); /* Texto branco */
    padding: 60px 0; /* Espaçamento vertical */
}

#sobre h2 {
    font-size: 2.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Fonte em negrito */
    color: #a561c0; /* Cor roxa */
}

.jornada {
    font-size: 1.2rem; /* Tamanho da fonte do parágrafo */
    line-height: 1.5; /* Altura da linha para melhor legibilidade */
}

.perfil1 {
    font-size: 1.2rem; /* Tamanho da fonte do perfil */
    line-height: 1.5; /* Altura da linha para melhor legibilidade */
}



#home {

    line-height: 4.5;
}

/***************configuração section vantagens Index*****************/
.container-vantagens {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 118px;
}


.itens-vantagens {

    align-items: center;
    border: 1px solid #2c1437;
    border-radius: 10px;
    width: 27%;
    padding: 10px;
    gap: 15px;
    margin-top: 47px;
    justify-content: center;
    align-items: center;

}

.titulo-vant {
    color: #ffffff;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}

.container-vantagens .itens-vantagens .parag-vant {
    justify-content: center;
    text-align: center;
    color: #b577cdb9
}



   /*Media Queries************************/


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .row {
        text-align: center;
        margin-top: 50px;
        font-size: 10px;
     }

     .d-flex  {
        text-align: justify;
        justify-content: center;
    }

     .navbar-brand {
        font-size: 13px;
     }

     .paragrafo {
        font-size: 18px;
     }


     .display-4 {

        font-size: 3.5em;
     
}

 img {
    width: 280px;
}
    
}
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) { 
 
    .row {
        text-align: center;
        margin-top: 50px;
     }

     .navbar-brand {
        font-size: 16px;
     }

     .d-flex  {
        text-align: justify;
        justify-content: center;
    }

    img {
        width: 350px;
    }
  

  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) { 

    .row {
        text-align: center;
        margin-top: 50px;

     }
     .d-flex  {
        text-align: justify;
        justify-content: center;
        margin-top: 50px;
    }

    img {
        width: 355px;
    }
     

}
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
    .d-flex  {
        text-align: justify;
        justify-content: center;
        margin-top: 50px;
      
        
    }

    .row {
        text-align: center; }

    .img {
        width: 350px;
    }
}

  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) { 
    
    .d-flex  {
        text-align: justify;
        justify-content: center;
        margin-top: 50px;
        
    }

    

    .img {
        width: 400px;
    }

}